<h1>Edit {$city->getName()}</h1>

<form method="post" action="">
    <label>
        City Name:
        {if session('errors')}
            <ul>
                {foreach session('errors') as $error}
                    <li style="color: red">{$error}</li>
                {/foreach}
            </ul>
        {/if}

        <input type="text" name="city" value="{$city->getName()}">
    </label>
    <br>
    <label>
        Country:
        <select name="country_id" required>
            <option value="">-- выберите страну--</option>
            {foreach $countries as $country}
                <option value="{$country->getId()}" {if $city->getId() == $country->getId()}selected{/if}>
                    {$country->getName()}
                </option>
            {/foreach}
        </select>
    </label>
    <br>


    <input type="submit" value="Edit">
</form>
