<h1>Edit {$country->getName()}</h1>

<form method="post" action="">
    <label>
        Country:
        {if session('errors')}
            <ul>
                {foreach session('errors') as $error}
                    <li style="color: red">{$error}</li>
                {/foreach}
            </ul>
        {/if}

        <input type="text" name="country" value="{$country->getName()}">
    </label>

    <input type="submit" value="Edit">
</form>
