<h1>Create user</h1>

<form method="post">
    <label>
        First name:
        {if session('errors')}
            <ul>
                {foreach session('errors') as $error}
                    <li style="color: red">{$error}</li>
                {/foreach}
            </ul>
        {/if}
        <input type="text" name="first_name" placeholder="Имя">
    </label>
    <br>

    <label>
        Last name:
        <input type="text" name="last_name" placeholder="Фамилия">
    </label>
    <br>

    <label>
        City:
        <select name="city_id">
            {foreach $cities as $city}
                <option value="{$city->getId()}">{$city->getName()}</option>
            {/foreach}
        </select>
    </label>
    <br>

    <input type="submit" value="Создать">
</form>
